<a href="https://colab.research.google.com/github/thinh-vu/ai_artist/blob/main/vnstock_demo_api_du_lieu_chung_khoan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<font color=red>Đọc thêm hướng dẫn đầy đủ tại trang thông tin chính thức của vnstock trên Github [tại đây](https://github.com/thinh-vu/vnstock)</font>

# I. Thiết lập

In [1]:
pip install vnstock # cài đặt thư viện vào Google Colab, cần chạy lại nếu dùng hosted runtime engine của Google

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting vnstock
  Downloading vnstock-0.1.0-py3-none-any.whl (14 kB)
Installing collected packages: vnstock
Successfully installed vnstock-0.1.0

In [ ]:
from vnstock import * # nhập các hàm viết sẵn của thư viện vào workbook

# II. Demo truy xuất dữ liệu

## Liệt kê danh sách các mã cổ phiếu trên thị trường

In [ ]:
listing_companies()

,ticker,group_code,company_name,company_short_name
0,HSV,UpcomIndex,Công ty Cổ phần Gang Thép Hà Nội,Gang Thép Hà Nội
1,SCV,UpcomIndex,Công ty Cổ phần Muối Việt Nam,"Visalco.,JSC"
2,LYF,UpcomIndex,Công ty Cổ phần Lương Thực Lương Yên,Công ty Lương Thực Lương Yên
3,CST,UpcomIndex,Công ty Cổ phần Than Cao Sơn - TKV,Than Cao Sơn - TKV
4,BVL,UpcomIndex,Công ty Cổ phần BV Land,BV Land
...,...,...,...,...
1621,XMP,UpcomIndex,Công ty Cổ phần Thủy điện Xuân Minh,Thủy điện Xuân Minh
1622,YBC,UpcomIndex,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,Xi măng và Khoáng sản Yên Bái
1623,YBM,VNINDEX,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,Khoáng sản CN Yên Bái
1624,YEG,VNINDEX,Công ty Cổ phần Tập đoàn Yeah1,Tập đoàn Yeah1
1625,YTC,UpcomIndex,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,XNK Y tế TP.HCM

## Tóm tắt thông tin cơ bản của 1 mã cổ phiếu bất kỳ

In [ ]:
ticker_overview('TCB') #tóm tắt thông tin cổ phiếu TCB, thay thế mã cổ phiếu bạn cần tra cứu và chạy lệnh, sử dụng vòng lặp để lấy kết quả cho nhiều mã cổ phiếu nếu cần

,exchange,shortName,industryID,industryIDv2,industry,industryEn,establishedYear,noEmployees,noShareholders,foreignPercent,website,stockRating,deltaInWeek,deltaInMonth,deltaInYear,outstandingShare,issueShare,companyType,ticker
0,HOSE,Techcombank,289,8355,Ngân hàng,Banks,1993,9757,1901,0.225,http://www.techcombank.com.vn,2.8,-0.031,-0.071,-0.221,3517.2,3510.9,NH,TCB

## Truy cứu dữ liệu lịch sử giá của 1 mã cổ phiếu bất kỳ

In [ ]:
df =  stock_historical_data(symbol='GMD', start_date="2021-01-01", end_date='2022-09-22')

In [ ]:
df

        Open     High      Low    Close   Volume TradingDate
0    32182.0  33157.0  31987.0  32279.0  4226500  2021-01-04
1    32279.0  33596.0  31938.0  32962.0  4851900  2021-01-05
2    33352.0  33352.0  32279.0  32572.0  3641300  2021-01-06
3    32864.0  33644.0  31694.0  33157.0  5753700  2021-01-07
4    33547.0  33937.0  32669.0  33059.0  4587500  2021-01-08
..       ...      ...      ...      ...      ...         ...
424  48850.0  49000.0  46800.0  47000.0  1317200  2022-09-19
425  47750.0  48000.0  47050.0  48000.0   697300  2022-09-20
426  47300.0  48200.0  47300.0  47950.0   669800  2022-09-21
427  47500.0  49150.0  47500.0  49000.0   512800  2022-09-22
428  47500.0  49150.0  47500.0  49000.0   512800  2022-09-22

[429 rows x 6 columns]

## So sánh thông tin giao dịch của 1 danh sách các mã cổ phiếu cần tra cứu

In [ ]:
price_board('TCB,SSI,VND')

,Mã CP,Giá Khớp Lệnh,KLBD/TB5D,T.độ GD,KLGD ròng(CM),%KLGD ròng (CM),RSI,MACD Volume,MACD Signal,Tín hiệu KT,...,Khối lượng Dư mua,Khối lượng Dư bán,Khớp nhiều nhất,seq,vnid3d,vnid1m,vnid3m,vnid1y,vnipe,vnipb
0,TCB,34550.0,1.26,2.23,30000,9.0,21.436995,-0.41,Neutral,Neutral,...,38600,11800,34200,1663833540,0.4,-4.6,2.6,-10.4,13.2673,1.90595
1,SSI,21100.0,1.16,2.30,310100,11.8,39.166361,-0.26,Neutral,Buy,...,245800,695700,20600,1663833540,0.4,-4.6,2.6,-10.4,13.2673,1.90595
2,VND,19000.0,1.12,2.15,97000,4.3,39.407316,-0.25,Neutral,Neutral,...,254700,364000,19000,1663833540,0.4,-4.6,2.6,-10.4,13.2673,1.90595

## Dữ liệu intraday thể hiện thông tin giao dịch theo thời gian trong ngày

In [ ]:
stock_intraday_data(symbol='GMD', page_num=0, page_size=5000)

,price,volume,cp,rcp,a,ba,sa,hl,pcp,time
0,49000.0,15900,1050.0,0.0,,370400.0,158900.0,False,0.0,14:45:02
1,49000.0,100,1050.0,0.0,BU,370400.0,158900.0,False,0.0,14:28:32
2,49000.0,100,1050.0,0.0,SD,370300.0,158900.0,False,-100.0,14:27:53
3,49100.0,1500,1150.0,0.0,BU,370300.0,158800.0,False,0.0,14:27:50
4,49100.0,500,1150.0,0.0,SD,368800.0,156800.0,False,0.0,14:27:13
...,...,...,...,...,...,...,...,...,...,...
607,47500.0,100,-450.0,0.0,SD,5300.0,7800.0,False,0.0,09:16:20
608,47500.0,200,-450.0,0.0,BU,5300.0,7700.0,False,0.0,09:16:19
609,47500.0,4200,-450.0,0.0,BU,4300.0,7700.0,False,0.0,09:16:18
610,47500.0,800,-450.0,0.0,BU,5100.0,7700.0,False,0.0,09:16:18
611,47500.0,100,-450.0,0.0,BU,100.0,7700.0,False,-450.0,09:15:39

# II. Xuất dữ liệu

Chạy từng dòng lệnh hoặc thu gọn mục II này lại và chạy toàn bộ lệnh trong mục này

In [ ]:
from google.colab import drive # kết nối Google Drive với Colab notebook, cần cho phép kết nối khi pop up mở ra
drive.mount('/gdrive')

Mounted at /gdrive

Demo cách truy xuất dữ liệu và lưu file hoàn chỉnh

In [ ]:
df =  stock_historical_data(symbol='GMD', start_date="2021-01-01", end_date='2022-09-22') # truy xuất lịch sử giá của cổ phiếu GMD
df.head()

      Open     High      Low    Close   Volume TradingDate
0  32182.0  33157.0  31987.0  32279.0  4226500  2021-01-04
1  32279.0  33596.0  31938.0  32962.0  4851900  2021-01-05
2  33352.0  33352.0  32279.0  32572.0  3641300  2021-01-06
3  32864.0  33644.0  31694.0  33157.0  5753700  2021-01-07
4  33547.0  33937.0  32669.0  33059.0  4587500  2021-01-08

In [ ]:
df.to_csv('/content/drive/MyDrive/ten_file_cua_ban.csv', index=False) # Lưu file dưới dạng csv vào thư mục gốc của Google Drive

In [ ]:
# df.to_excel('/content/drive/MyDrive/ten_file_cua_ban.xlsx', index=False) # xoá dấu thăng ở đầu dòng này nếu muốn chạy lệnh lưu file thành định dạng excel